@media(max-width: 500px){

    .text1{
        display: none;
    }
    .imagemed{
        display: inline;
    }
    .daroz{
        background-color: white;
        gap: 30px;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }
    .image4{
        width: 346px;
        height: 315px;
        position: absolute;
          top: -64px;
          left: 152px;
        

    }
    .s3{
        display: none;
    }
    .text2{
        justify-content: center;
        padding-left: 40px;
        background-color: rgba(255, 187, 138, 1);
        margin-top: 200px;
    }
    .big1{
        padding-left: 0px;
    }
    .body{
        overflow-x: hidden;
    }
    .scr{
        display: none;
    }
    .s8{
        display: none;
    }
    .s2 button{
        position: relative;
        z-index: 3;
    }
    .s6{
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .images{
        margin: 0;
        padding-top: 50px;
        padding-left: 5px;
        padding-bottom: 20px;
        background-color: rgba(255, 187, 138, 1) ;
    }
    .text3 .grey{
        display: none;
    }
    .none1{
        display: block;
        color: rgba(91, 101, 116, 1);
    }
    .s9{
        flex-direction: column-reverse;
    }
    .s10{
        flex-direction: column;
    }
    .big2{
        background-color: rgba(255, 187, 138, 1) ;
    }
    .text3{
        padding-left: 50px; 
    }
    .s9{
        gap: 40px;
        padding-bottom: 80px;
    }
    .kr1{
        display: none;
    }
    .kr{
        display: none;
    }
    .big3{
        background-color: rgba(255, 187, 138, 1) ;

    }
    .sort{
        position: relative;
    }
    .s11{
        position: absolute;
        left: 43px;
    }
    .s12{
        display: none;
    }
    .s122{
        display: flex;
      
    }
    .image9{
         width: 320px;
        height: 320px;
    }
    .s15{
        background-color: white;
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.281);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
        position: absolute;
        right: 45px;
    }
    .krug{
        display: none;
    }
    .big4{
        background-color:rgba(255, 187, 138, 1)  ;
        padding-left: 50px;
    }
    .text6{
        padding-left: 0px;
    }
    .s16{
        flex-direction: column;
    }
    .s17{
        width: 340px;
    }
    .s20 .grey{
        width: 150px;
    }
    .cs1{
        width: 250px;
        margin-bottom: 3px;
    }
    .image12{
        height: 300px;
    }
    .big5{
        background-color: rgba(255, 187, 138, 1)  ;
    }
    
}